doctype html 

html 
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset='utf-8')
        title #{pageTitle}
        link(rel="stylesheet", href="../css/agreement.css")
        script(defer, src="../js/agreement.js") 
    body 
        div.container    
            header.header 
                div.flex_vc.close  X
                div.flex_vc.center 회원가입
                div
            section 
                div.greeting
                    p 어서오세요. 
                    p 약관동의가 필요해요.
                form#agreement_form(action="/agreement", method="post")
                    div.all_greement
                        input(type="checkbox", id="all", name="all")
                        label(for="all") 전체동의
                    fieldset.check_list  
                        div.flex_sb
                            div
                                input(type="checkbox",  id="necessary1",  name="necessary") 
                                label(for="necessary1") 배달의민족 이용약관 동의
                            span.nextBtn >
                        div.flex_sb
                            div
                                input(type="checkbox" ,id="necessary2" ,name="necessary") 
                                label(for="necessary2") 전자금융거래 이용약관 동의
                            span.nextBtn >
                        div.flex_sb
                            div
                                input(type="checkbox" ,id="necessary3" ,name="necessary") 
                                label(for="necessary3") 개인정보 수집이용 동의
                            span.nextBtn >
                        div.flex_sb
                            div
                                input(type="checkbox" ,id="optional1" ,name="optional") 
                                label(for="optionall") 개인정보 제3자 제공 동의 (선택)
                            span.nextBtn >
                        div.flex_sb
                            div
                                input(type="checkbox" ,id="optional2" ,name="optional") 
                                label(for="optional2") 마케팅 정보 메일, SNS 수신동의 (선택)
                            span.nextBtn >
                    fieldset  
                        div.age_box.flex_vc
                            input(type="radio" ,id="over14" ,name="age" ,value="over14" checked) 
                            label(for="over14") 만 14세 이상입니다 
                        div.age_box.flex_vc
                            input(type="radio" ,isd="under14" ,name="age" ,value="under14")
                            div.flex_c
                                label(for="under14") 만 16세 미만입니다. 
                                div 본인확인이 된 보호자의 배민계정이 필요해요. 
                    div 
                        button.submitBtn#agreement_submit_btn(disabled) 다음으로
        footer
