html 
    head 
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset='utf-8')
        title #{pageTitle}
        link(rel="stylesheet", href="../css/phone.css")
        script(defer, src="../js/main.js") 
    body 
        div.container    
            header.header 
                div.flex_vc.close  X
                div.flex_vc.center 회원가입
                div
            section
                 form
                    div.flex_c.phone
                        label(for='phone') 휴대전화
                        input(type="tel" id="phoneNumber" name="phoneNumber" placeholder="휴대전화 번호를 입력하세요.") 
                    div
                        button.submitBtn 인증번호 받기