@import url('./reset.css');
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0 30px;
}

.header {
  margin-top: 30px;
}
.header_icon {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 100px;
}

/* 로그인 */
.login_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login_input {
  font-size: 1.3rem;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #e1e1e1;
}

.login_input::placeholder {
  font-weight: 700;
  color: #999;
}

.login_input:focus {
  outline: none;
}

.login_btn {
  background-color: #28c1bc;
  color: #fff;
  border: none;
  height: 50px;
  border-radius: 5px;
}

/* 아이디 비빌번호 찾기 */

.login_find_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #999;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: #999;
  margin: 0 20px;
}

/* 소셜 로그인  */

.footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
  padding: 0 30px;
}
.social_login {
  margin-bottom: 20px;
}
.social_login_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px 0;
  border: 1px solid #999;
  border-radius: 5px;
}

/* 회원 가입 */
.create_user {
  display: flex;
  justify-content: center;
}

.create_user_link {
  margin-left: 8px;
  text-decoration: none;
  color: #28c1bc;
}
